@function shade-color-dark($color, $weight) {
  @return mix(black, $color, $weight);
}
@function shade-color-light($color, $weight) {
  @return mix(white, $color, $weight);
}

$primary: hsl(180, 76%, 60%);
$danger: hsl(0, 55%, 68%);
$secondary: #708f70;
$success: #5bae5b;
$info: hsl(51, 53%, 87%);
$warning: hsl(350, 76%, 37%);
$light: hsl(60, 44%, 69%);
$dark: hsl(251, 10%, 21%);

// new colors
$darkGreen: rgb(19, 49, 16);
$darkBlue: rgb(44, 44, 70);
$lightBlue: rgb(35, 157, 228);
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
$newColors: (
  "darkGreen": $darkGreen,
  "lightBlue": $lightBlue,
  "darkBlue": $darkBlue,
);
$theme-colors: map-merge($theme-colors, $newColors);
// unset general values
$body-bg: $dark;
$body-color: $lightBlue;
$body-text-align: center;

// links
$link-color: $light;
$link-decoration: none;
$link-shade-percentage: 20%;

// font size base
$font-size-base: 0.85rem;
// border-width
$border-width: 0.75px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
) !default;
// border-radius
$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-pill: 50rem;

// transition base
$transition-base: 0.4s;

//create hover for that BG
@each $color, $value in $newColors {
  .hover-#{$color}:hover {
    cursor: pointer;
    background-color: shade-color-dark($value, 45%) !important;
  }
}
@each $color, $value in $theme-colors {
  .hover-#{$color}:hover {
    cursor: pointer;
    background-color: shade-color-dark($value, 45%) !important;
  }
}

@each $color, $value in $newColors {
  .text-hover-#{$color}:hover {
    cursor: pointer;
    color: shade-color-light($value, 45%) !important;
  }
}
@each $color, $value in $theme-colors {
  .text-hover-#{$color}:hover {
    cursor: pointer;
    color: shade-color-light($value, 45%) !important;
  }
}
